<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>JSF Login Page</title>
</h:head> 

<body> 
	<h:form>
	First Name: <h:inputText value="#{user.firstName}" title="" /><br/>
	Last name: <h:inputText value="#{user.lastName}" title="" /><br/>
	<h:commandButton value="Submit 2" action="#{formController.onSubmit(user)}" /><br> </br>
	</h:form>
</body> 

</html>
